.card {
    border-style: unset;
}

.logo {
    font-family: Bonheur Royale;
    font-size: 70px;
    color: brown;
}

p, li {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

h5 {
    font-family: Satisfy, Oxygen, serif;
}

.card-title {
    font-size: 35px;
}

.copyright {
    font-family: Assistant;
    font-size: small;
}


.block1 {
    margin-left: 10%;
    margin-right: 10%;
}

#bold {
    font-size: 28px;
}

.card-text {
    text-align: left !important;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
}

#landing {
    background: linear-gradient(180deg, #FFD4AE 44%, #FBB377 100%);
    text-align: left;
    height: 382px;
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

.check:before {
    content: 'check';
    font-family: 'Material Icons';
}

.btn-primary {
    background: linear-gradient(180deg, rgb(131, 222, 255) 1%, rgb(0, 140, 169) 100%);
    border-color: rgb(0, 140, 169);
}

.btn-primary:hover {
    border-color: rgb(0, 84, 100);
}

.container-fluid {
    margin-left: 7em;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 12px;
    border: 1px solid #7da2ac;
    border-radius: 8px;
    background: #b2e8f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2e8f6), to(#7da2ac));
    background: -moz-linear-gradient(top, #b2e8f6, #7da2ac);
    background: linear-gradient(to bottom, #b2e8f6, #7da2ac);
    font: normal normal 15px;
    font-family: Life Savers;
    color: #111111;
    text-decoration: none;
}

a.button {
    margin: 0 auto;
}

.button:hover,
.button:focus {
    border: 1px solid #b2e8f6;
    background: #d6ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#d6ffff), to(#96c2ce));
    background: -moz-linear-gradient(top, #d6ffff, #96c2ce);
    background: linear-gradient(to bottom, #d6ffff, #96c2ce);
    color: #111111;
    text-decoration: none;
}
.button:active {
    background: #7da2ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#7da2ac), to(#7da2ac));
    background: -moz-linear-gradient(top, #7da2ac, #7da2ac);
    background: linear-gradient(to bottom, #7da2ac, #7da2ac);
}

.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  .table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul {
    padding: 0;
}

ul#horizontal-list {
	list-style: none;
	}
	ul#horizontal-list li {
		display: inline;
        float: center;
	}