{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card">
  <div class="row g-0 block1">
    <div class="card-body col-md-auto my-auto mx-auto">
      <h5 class="card-title">Poesía Minimalista</h5><br>
      <p class="card-text">La poesía como universo</p>
      <p class="card-text">y las palabras como conceptos;</p>
      <p class="card-text">el espacio puro:</p>
      <p class="card-text" id="bold">¡escencia!</p>
    </div>
    <div class="card-body col-md-5">
      <img src="{% static 'images/jardin.png' %}" class="img-fluid mx-auto d-block" alt="El Jardín de los Sueños" style="max-width: 100%;
      height: auto;">
    </div>
  </div>
</div>
  <div class="row g-0" id="landing">
    <div class="col-md-5 mx-auto my-auto">
      <img src="{% static 'images/bloque2.png' %}" class="img-fluid mx-auto d-block" alt="" style="max-width: 100%;
      height: auto;">
    </div>
  </div>
  <div class="card">
    <div class="row g-0 block1">
      <div class="card-body col-md-5 my-auto">
        <h5 class="card-title">El Jardín de los Sueños</h5><br>
        <p class="card-text">Una exploración sincera de la profundidad del alma, desde aquí 
          se expresa un mundo diferente. El Jardín de los Sueños es el anhelo 
          de un niño, el de un ser humano enamorado… es un mundo escrito,
          sin líneas, ni guiones y que no se compromete con el tiempo, ni con 
          formalismos, sino que libera su espíritu para soñar.          
        </p>
      </div>
      <div class="card-body my-auto col-md-5">
        <img src="{% static 'images/jardinsue.png' %}" class="img-fluid mx-auto my-auto d-block" alt="El Jardín de los Sueños" style="max-width: 100%;
        height: auto;">
      </div>
    </div>
  </div>
  <div class="card my-auto text-center" id="landing">
    <div class="my-auto">
      <p>Con la primera luz vi yo el mundo</p>
      <p>entre las suaves manos de mi madre.</p>
      <p>En sus ojos vi el cielo; en sus pupilas vi la luz,</p>
      <p>su sonrisa es un arcoiris y en su aliento hay calor.</p>
    </div>
  </div>
  <div class="card">
    <div class="row g-0 block1">
      <div class="card-body col-md-5 my-auto">
        <img src="{% static 'images/puertaesp.png' %}" class="img-fluid mx-auto my-auto d-block" alt="El Jardín de los Sueños" style="max-width: 100%;
        height: auto;">
      </div>
      <div class="card-body col-md-5 my-auto mx-auto">
        <h5 class="card-title">Puerta de Esperanza</h5><br>
        <p class="card-text">No necesito grandes maquinarias</p>
        <p class="card-text">ni complejos instrumentos</p>
        <p class="card-text">para realizar una obra,</p>
        <p class="card-text">sólo un grafito</p>
        <p class="card-text">y aunque mi obra pequeña</p>
        <p class="card-text">ilumina la luz su sendero.</p>
        <br>
        <a class="button" href="accounts/sample">Sigue leyendo</a>
      </div>
    </div>
  </div>
</main>
{% endblock content %}