{% extends 'basereg.html' %}
{% block title %}Registrarse{% endblock title %}
{% block content %}
{% load set %}



<div class="main-container right-panel-active" id="main-container">
	<div class="form-container sign-up-container">
		<form method="post" id="signup-form" action="{% url 'signup' %}">
            {% csrf_token %}
			<h1>Registrarse</h1>
            {% for field in form %}
                {{ field }}
				<br>
            {% endfor %}
			<button class="mt-3" type="submit">Crear una cuenta</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<div class="action">
			<button class="mb-5" id="signUp">Sigue leyendo</button>
		</div>
		
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				{% if failed %}
				<div class="alert alert-secondary" role="alert">
					Por favor corrija las siguientes advertencias:
				</div>
				<div class="alert alert-secondary" role="alert">
					{% for field in form %}	
					<ul style="text-align: left;">
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
				{% endif %}
				
			</div>
			<div class="overlay-panel overlay-right" style="text-align: left;">
				<h3>Puerta de Esperanza</h3>
				<p></p>
				<span>Con la primera luz vi yo al mundo</span>
				<span>entre las suaves manos de mi madre.</span>
				<span>En sus ojos el cielo, en sus pupilas esta la luz,</span>
				<span>su sonrisa es un arco iris y en su aliento hay calor.</span>
				<p></p>
				<span>Dichoso de niño, como un colibrí a su flor;</span>
				<span>y volaba, volaba agitando las alas a millón,</span>
				<span>para no detenerme; por cada golpe un tierno gesto,</span>
				<span>un consuelo y una caricia;</span>
				<span>sus manos vendando mis heridas.</span>
				<span>¡Mi flor… si! aun en invierno y en todas las estaciones.</span>
				<p></p>
				<span>Perdona mi torpe proceder </span>
				<span>que, como un pétalo a su flor,</span>
				<span>sobre una lágrima fría,</span>
				<span>se aleja sin dejar sonrisa.</span>
				<p></p>
				<span>Como su suavidad la naturaleza le regala al algodón,</span>
				<span>así son tus palabras sublimes cantos a mis oídos.</span>
				<span>Como la feliz primavera la naturaleza le regala a esa flor,</span>
				<span>así una madre da a su niño una infancia de alegría y calor.</span>
				<p></p>
				<span>Esperaré</span>
				<span>la promesa que nos da la vida, </span>
				<span>en la esperanza de tus palabras</span>
				<span>y la alianza que nos une cada día.</span>				
			</div>
		</div>
	</div>
</div>


<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');

    const container = document.getElementById('main-container');
	
    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

{% endblock content %}